<div style="padding-top:5px;">
  <span style="padding:0px 10px;"><b>Sort By</b></span>
  <span style="padding-right:10px;" ng-click="sortPrice('high')" class="sort-option {{sortHigh ? 'sort-selected' : ''}}">Price -- High Low</span>
  <span style="padding-right:10px;" ng-click="sortPrice('low')" class="sort-option {{sortLow ? 'sort-selected' : ''}}">Price -- Low High</span>
  <span style="padding-right:10px;" ng-click="sortPrice('dis')" class="sort-option {{sortDis ? 'sort-selected' : ''}}">Discount</span>
</div>